@CHARSET "UTF-8";

html, body, header, div, span, nav, ul, li {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

* {
	margin: 0;
	padding: 0;
}

body, div, ul, li {
	margin: 0;
	padding: 0;
}

nav ul {
	list-style: none;
}

li {
	list-style: none;
}

li {
	list-style-type: none;
}

a {
	color: #FFF;
	outline: none;
	vertical-align: middle;
}

a, a:hover {
	cursor: pointer;
	text-decoration: none;
}

a:hover {
	color: rgb(81, 168, 221);
}

.btn-nav {
	position: fixed;
	top: 0;
	right: 40px;
	width: 80px;
	height: 86px;
	background: url("../src/icon/bg_gnavi_btn.png") no-repeat 0 0;
	background-size: 80px 86px;
	z-index: 998;
}

.menu-tri {
	display: inline-block;
	width: 80px;
	height: 55px;
	position: relative;
	transition: all .4s;
}

.title {
	display: inline-block;
	position: absolute;
	left: 50%;
	top: 13px;
	font-size: 16px;
	margin-left: -18px;
}

.btn-nav .menu-tri.active .border01 {
	transform: translateY(-2px) rotate(-45deg);
	top: 29px;
}

.btn-nav .menu-tri.active .border02 {
	transform: translateY(-7px) rotate(45deg);
	top: 34px;
}

.border1 {
	position: absolute;
	display: inline-block;
	width: 32px;
	height: 2px;
	margin-left: -16px;
	left: 50%;
	border-radius: 4px;
	background-color: #FFF;
	transition: all .4s;
}

.menu-tri .border01 {
	top: 36px;
}

.menu-tri .border02 {
	top: 41px;
}

.date {
	
}

/**************************************************************************************************************************/
#global-nav {
	display: block;
	position: fixed;
	height: 100%;
	left: 0;
	top: 0;
	opacity: 0;
	z-index: 997;
	background: url("../src/icon/bg_gnavi.jpg") center 0;
}

#global-nav.show {
	pointer-events: auto;
}

#global-nav {
	pointer-events: none;
}

#global-nav.show {
	opacity: 1;
	overflow-y: scroll;
	width: -moz-calc(100% + 40px);
	width: -webkit-calc(100% + 40px);
	width: calc(100% + 40px);
	transition: opacity 400ms;
}

#global-nav .global-nav-wrap {
	position: absolute;
	width: 400px;
	top: 100px;
	left: 50%;
	margin-left: -220px;
}

#global-nav .global-nav-wrap .global-nav-inner {
	border-bottom: 1px solid #565353;
	padding-top: 10px;
	margin-left: 42px;
}

#global-nav .global-nav-wrap .global-nav-inner>ul>li>ul {
	text-align: left;
	color: #cccccc;
}

#global-nav .global-nav-wrap .global-nav-inner>ul>li {
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 15px;
	position: relative;
	opacity: 0;
	transform: translate(-20px, 0px);
}

#global-nav .global-nav-wrap .global-nav-inner>ul>li:hover {
	background-color: rgb(81,168,221);
}

#global-nav .global-nav-wrap .global-nav-inner>ul>li>ul>li:first-child {
	margin-left: -10px;
}

#global-nav.show .global-nav-inner>ul>li {
	transform: translate(0px, 0px);
	opacity: 1;
	transition: all 400ms;
}

#global-nav .global-nav-wrap .global-nav-inner>ul>li>ul li {
	display: inline-block;
	font-size: 12px;
	margin: 0 10px 0 0;
}

#global-nav .global-nav-wrap .global-nav-inner>ul>li>ul li:first-child::before {
	content: "";
}

#global-nav .global-nav-wrap .global-nav-inner>ul>li>ul li::before {
	content: "/";
	margin-right: 10px;
}

.global-sub-nav {
	padding-top: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}
